@model List<BLL.DTO.UserDTO>
@{
    ViewBag.Title = "FindUser";
    Layout = "_ProfileLayout.cshtml";
}

<h2>Find User</h2>
@using (Html.BeginForm("FindUser", "Client", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td><p>Email/Name</p></td>
            <td><input type="text" name="userToFind" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Поиск" /> </td>
            <td></td>
        </tr>
    </table>
}
@Html.Partial("FindUserResult")

