@model System.Collections.Generic.List<BLL.DTO.MessagesDTO>
@{
    ViewBag.Title = "Your Messages";
    Layout = "_ProfileLayout.cshtml";
}
<h2>Messages</h2>
@foreach (var m in Model)
{
    <dl class="dl-horizontal">
        <dd>
            <b>Date</b>: @m.DateTime
        </dd>
        <dd>
            <b>Receiver</b>: @m.ReceiverName
        </dd>
        <dd>
            <b>Text</b>: @m.Text
        </dd>
    </dl>
    @Html.ActionLink("Delete message", "RemoveMessage", "Client", new { messageId = m.MessageId, id = m.Id, receiverId = m.ReceiverId, receiverName = m.ReceiverName, date = m.DateTime, text = m.Text },null)
    <hr>
}

