@model BLL.DTO.UserDTO
@{
    ViewBag.Title = "FindUser";
    Layout = "_ProfileLayout.cshtml";
}
<h2>Add Friend</h2>
@using (Html.BeginForm("AddFriend", "Member", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td><p>Введите Email пользователя которого хотите добавить в друзья</p></td>
            <td><input type="text" name="friendEmail" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Отправить" /> </td>
            <td></td>
        </tr>
    </table>
}
